<footer class="footer">
  <small>
    The <a href="https://github.com/xvxiaopei/CSCE606-project">Dataset Curation</a>
    by <a href="https://github.com/xvxiaopei/CSCE606-project">Team Flyer and 666</a>
  </small>
  <nav>
    <ul>
      <a href="mailto:zhangwenrui@tamu.edu">Contact</a>
    </ul>
  </nav>
</footer>
